@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-emerald-200;
    /* background-color: rgb(255, 215, 225); */
}

h1 {
    font-size: 6rem;
    @apply leading-none
}

h2 {
    font-size: 4rem;
    @apply leading-none
}

h3 {
    font-size: 2rem;
    @apply leading-none
}

h4 {
    font-size: 1.5rem;
    @apply leading-none
}

h5 {
    font-size: 1.2rem;
    @apply leading-none
}

h5 {
    font-size: 1rem;
    @apply leading-none
}

h6 {
    font-size: 0.8rem;
    @apply leading-none
}

.get-leading {
    line-height: normal;
}
