@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(165, 243, 252);
    /* background-color: rgb(255, 215, 225); */
}

h1 {
    font-size: 6rem;
    @apply leading-none
}

h2 {
    font-size: 4rem;
    @apply leading-none
}

h3 {
    font-size: 2rem;
    @apply leading-none
}

h4 {
    font-size: 1.5rem;
    @apply leading-none
}

h5 {
    font-size: 1.2rem;
    @apply leading-none
}

h5 {
    font-size: 1rem;
    @apply leading-none
}

h6 {
    font-size: 0.8rem;
    @apply leading-none
}

.get-leading {
    line-height: normal;
}


.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #333;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #333;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

/* Aggiungi questo al tuo CSS globale */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Nasconde la scrollbar in Chrome, Safari e altri WebKit */
}

.no-scrollbar {
    -ms-overflow-style: none;  /* Nasconde la scrollbar in Internet Explorer e Edge */
    scrollbar-width: none;     /* Nasconde la scrollbar in Firefox */
}